.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
  top: 245px;
  left: 37vw;
  position: absolute;

}

.App-header {
  background-color: #565B74;
  background-color: #464A5E;
  background-color: #181c2d;
  height: 100px;
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
