body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222B49 !important;
}

header {
    margin-bottom: 30px;
}

.axis > path.domain {
    stroke: none;
}

.chart {
    height: 300px;
    width: 400px;
    background: white;
}

.line {
  fill: none;
  animation: dash 2s linear;
  stroke-width: 2px;
  stroke-dasharray: 3500;
  stroke-dashoffset: 0;
}

@keyframes dash{
    from {
        stroke-dashoffset: 3500;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.black-stroke {
    stroke: 'black';
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 2px;
}

.blue-stroke {
    stroke: 'blue';
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 2px;
}

.red-stroke{
    stroke: 'red';
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 2px;
}

/* #red {
    background: red;
}

#blue {
    background: blue;
} */

.app-body {
    height: auto;
    padding: 20px;
}

.selected-coin-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: black; */
}

.graph-svg{
    /* background: #d3d3d3; */
    /* background: tomato; */
    width: 960px;
    height: 500px;
    overflow: visible !important;
    margin-left: 50px;
    /* width: 900px; */
}

g.tick > line {
    stroke: #666;
    opacity: 0.5;
    /* fill: #3B4B7F; */
}

.tick > text {
    font-size: 11px;
    fill: #666;
}

/* .tick {
    opacity: 0.4;
} */

.selected-coin {
    height: 80px;
    width: 100%;
    background: #A9A9A9;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-top: 4px solid #222B49;
}

.selected-coin h2 {
    margin-left: 30px;
    font-size: 24px;
}

.selected-coin > .add-coin, .selected-coin > .remove-coin {
    cursor: pointer;
}

.search-table-container {
    background: #A9A9A9;
    height: auto;
    width: auto;
    /* padding: 20px; */
}

.search-form {
    padding: 20px;
    border-top: 2px solid white;
}

.t-select-list {
    width: 500px;
    color: white;
}

.t-select-list > li:first-child {
    width: 60px;
    /* width: 10px; */
}

.t-select-list > li:first-child::before {
    color: red;
    font-size: 45px;
    content: '\00B7';
    margin-right: 4px;
    margin-bottom: 4px;
    /* width: 10px; */
}

.search-bar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-btn {
    background: none !important;
    border: none !important;
}

.search-btn:hover svg{
    color: black;
}

.custom-search {
    color: black;
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    /* border-bottom: 4px solid black !important; */
    border-radius: 0 !important;
    -webkit-appearance: none;
    font-size: 20px !important;
    text-transform: uppercase !important;

}

.custom-search::placeholder {
    text-transform: capitalize !important;
}

.custom-search:focus {
    border-bottom: 1px solid #222B49 !important;
}

.custom-search > input {
    outline: none !important;
    font-size: 20px;
}

.t-select-list > li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
    /* padding: 5px; */
    width: 50px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: tomato; */
}

.t-select-list > li.inactive:hover {
    cursor: pointer;
    background: #0D8DFF;
}

.t-select-list > li.active {
    color: #0D8DFF;
}

.draggable-area {
    position: absolute;
    z-index: 100;
}

.slider {
    position: absolute;
    z-index: 10;
}
